<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :name %>
  <%= text_input f, :name %>
  <%= error_tag f, :name %>

              <%= inputs_for f, :address, fn a -> %>
                 <div class="form-group">
                    <%= label a, :street %>
                    <%= text_input a, :street %>
                    <%= error_tag a, :street %>

                    <%= label a, :city %>
                    <%= text_input a, :city %>
                    <%= error_tag a, :city %>

                    <%= label a, :state %>
                    <%= text_input a, :state %>
                    <%= error_tag a, :state %>

                    <%= label a, :zip %>
                    <%= number_input a, :zip %>
                    <%= error_tag a, :zip %>
                 </div>
               <% end %>
               
        <div class="form-group">
          <%= label f, :courier_id, class: "control-label" %>
          <input id="courierList" list="pharmacy_courier_id" name="pharmacy[courier_id]" class="form-control" />
          <datalist id="pharmacy_courier_id">
          <%= for courier <- @couriers do %>
           <option value=<%=courier.id%>><%=courier.name%></option>
           <% end%>
          </datalist>
         <%= error_tag f, :courier_id %>
         <%= link "Couriers", to: "/courier/", target: "_blank", id: "pharmacy_courier_link", style: "display: none;"   %>
        </div>         

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
